html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'),
    url(../fonts/MullerLight.woff2) format("woff2"),
    url(../fonts/MullerLight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url(../fonts/MullerBold.woff2) format("woff2"),
    url(../fonts/MullerBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url(../fonts/MullerRegular.woff2) format("woff2"),
    url(../fonts/MullerRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url(../fonts/MullerMedium.woff2) format("woff2"),
    url(../fonts/MullerMedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  background: #F1F1F1;
}

:root {
  --color-btn: #CC9933;
  --color-link: #CC9933;
}

/*glob*/
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

}

h1, h2, h3, h4, h5, h6, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}

.heading, .footer-title {
  display: none;
}

.title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.title2 {
  margin: 0;
  margin-bottom: 15px;
}

.item_top, .item-bottom {
  padding: 40px 234px 40px 45px;
}

.special_img {
  padding-left: 5px;
  color: #F0BF5F;
}

.services-heading {
  margin: 0;
  margin-bottom: 10px;
}

.header {
  padding: 30px 0 0 0;
}

.header_top {
  align-items: center;
  margin-bottom: 30px;
}

.header_bottom {
  align-items: center;
  padding: 14px 45px;
  margin-bottom: 70px;
  background: #FFFFFF;
  border-radius: 10px;
}

.header-logo {
  margin-right: 40px;
  outline: none;
}

.header-tel {
  margin-right: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.header-tel:hover:not(:focus-visible) {
  color: #CC9933;
  transition: color 0.2s ease-in-out;
}

.header-tel:focus-visible {
  outline: 0;
  outline: 1px solid #CC9933;
  color: #CC9933;
}

.header-tel:active:not(:focus-visible) {
  color: #A47312;
}

.header-personal {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-link);
}

.header-personal:hover:not(:focus-visible) {
  color: #F0BF5F;
  transition: color 0.2s ease-in-out;
}

.header-personal:hover:not(:focus-visible) svg path {
  fill: #F0BF5F;
  transition: color 0.2s ease-in-out;
}

.header-personal:focus-visible {
  outline: 0;
  outline: 1px solid #CC9933;
  color: #CC9933;
}

.header-personal:focus-visible svg path {
  fill: #CC9933;
}

.header-personal:active:not(:focus-visible) {
  color: #A47312;
}

.header-personal:active:not(:focus-visible) svg path {
  fill: #A47312;
}

.header-nav {
  margin-right: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.header-btn {
  cursor: pointer;
  padding: 13px 20px;
  border: 1px solid var(--color-btn);
  border-radius: 10px;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-btn);
}

.header-btn:hover:not(:focus-visible) {
  background-color: #CC9933;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.2s linear;
}

.header-btn:focus-visible {
  outline: 0;
  background-color: #CC9933;
  color: #FFFFFF;
}

.header-btn:active:not(:focus-visible) {
  background-color: #A47312;
  color: #FFFFFF;
}

.btn-tour {
  min-width: 107px;
  margin-right: 30px;
}

.btn-bel {
  min-width: 177px;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-link:hover:not(:focus-visible) {
  color: #CC9933;
}

.header-link:focus-visible {
  outline: 0;
  outline: 1px solid #CC9933;
  color: #CC9933;
}

.header-link:active:not(:focus-visible) {
  color: #A47312;
}

/*special*/

.special__content {
  min-height: 540px;
  display: flex;
  margin-bottom: 70px;
  border-radius: 15px;
}

.special__block {
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px) / 2);
  border-radius: 15px;

}

.special__block:not(:last-child) {
  margin-right: 30px;
}

.special__item {
  flex: 1;
  margin-bottom: 30px;
  padding: 40px;
}

.islands {
  position: relative;
}

.special__item--mald {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../IMG/maldiv.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 573px;
  margin-bottom: 23px;

}

.special__item--krit {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../IMG/krit.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 573px;

}

.special_link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid var(--color-link);
  outline-offset: 8px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
 }

 .special_link:focus-visible {
   outline: 0;
 }

 .special_link:focus-visible::before {
   opacity: 1;
 }

.special_link:active:not(:focus-visible) {
  color: #FFFFFF;
}

.special_link:hover img {
  transform: translateX(5px);
  transition: transform .2s ease-in-out;
}

.special__item--lux {
  padding: 212px 229px 40px 45px;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../IMG/numbers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 573px;
  min-height: 540px;
  border-radius: 15px;
}

.item-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.special__item:last-child {
  margin-bottom: 0;
}

.title {
  padding-left: 40px;
}

.title2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  overflow-wrap: break-word;
}

.descr {
  max-width: 890px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.services-content-list {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.services-content-list-item {
  position: relative;
  flex: 1 1 40%;
  min-height: 346px;
  padding: 191px 120px 50px 45px;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 1px solid #CC9933;
  outline-offset: 10px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.service:focus-visible {
  outline: 0;
}

.service:focus-visible::before {
  opacity: 1;
}

.service:hover {
  color: #F0BF5F;
}

.service:hover:not(:focus-visible) svg path {
  stroke: #F0BF5F;
  transform: translateX(5px);
  transition: transform .2s ease-in-out;

}

.conteiner-special, .main-about-content, .main-services-content, .main-advantages-content, .main-placement-content {
  margin-bottom: 70px;
}

.services-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--color-link);
}

.text-services {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.service {
  display: inline-flex;
  align-items: center;
}


.service svg {
  padding-left: 5px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list-item {
  flex: 1 1 20%;
  min-height: 276px;
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: 0;
  padding: 116px 42px 41px 45px;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.advantages-list-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages-list-item:last-child {
  margin-right: 0;
}

.plasement-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: start;
  flex: 1 1 30%;
  margin-top: 0;
  margin-bottom: 22px;
  margin-left: 0;
  border-radius: 15px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.plasement-list-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.plasement-list-item:last-child {
  margin-right: 0;
}

.text-plasement, .btn-placement {
  padding: 32px 45px 45px 45px;
  overflow-wrap: break-word;
}

.text-plasement {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.text country {
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.from {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.plasement-name title3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.title3 {
  margin-bottom: 16px;
  display: inline-block;
}

.plasement-country {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.cost {
  margin-bottom: 16px;
}

.btn-cont {
  margin-top: auto;
}

.btn-placement {
  padding: 13px 20px;
  max-width: max-content;
  border: 1px solid var(--color-btn);
  border-radius: 10px;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-btn);
  cursor: pointer;
}

.btn-placement:hover:not(:focus-visible) {
  background-color: #CC9933;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.2s linear;
}

.btn-placement:focus-visible {
  outline: 0;
  background-color: #CC9933;
  color: #FFFFFF;
}

.btn-placements:active:not(:focus-visible) {
  background-color: #A47312;
  color: #FFFFFF;
}

.block-link {
  background-image: url("../IMG/imageplacement.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.block-link-text {
  display: flex;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  outline: 0;
}

.plasenent-arrow {
  padding-left: 5px;
}

.additional {
  height: max-content;
  background-size: cover;
  border-radius: 15px;
}

.exl {
  background-image: url("../IMG/serv1.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 573px;
  min-height: 165px;
}

.rent {
  background-image: url("../IMG/serv2.png");
  background-repeat: no-repeat;
  background-position: top;
}

.fit {
  background-image: url("../IMG/serv3.png");
  background-repeat: no-repeat;
  background-position: top;
}

.avto {
  background-image: url("../IMG/serv4.png");
  background-repeat: no-repeat;
  background-position: top;
}

.adv1 {
  background-image: url("../IMG/logoadv1.svg");
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.adv2 {
  background-image: url("../IMG/logoadv2.svg");
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.adv3 {
  background-image: url("../IMG/logoadv3.svg");
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.adv4 {
  background-image: url("../IMG/logoadv4.svg");
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.adv5 {
  background-image: url("../IMG/logoadv5.svg");
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.adv6 {
  background-image: url("../IMG/logoadv6.svg");
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.adv7 {
  background-image: url("../IMG/logoadv7.svg");
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.adv8 {
  background-image: url("../IMG/logoadv8.svg");
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.text-adv {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.special_link {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
}

.text-special--price {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}


.title2_right {
  margin-bottom: 15px;
  font-family: 'Muller', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-special-right--price {
  margin-bottom: 47px;
  font-family: 'Muller', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
}

.text-special-right {
  font-family: 'Muller', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
}

.service, .text-services {
  overflow-wrap: break-word;
}

.text-plasement-links {
  position: relative;
}

.block-link-text {
  display: flex;
  align-items: center;
}

.block-link-text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.block-link-text:hover:not(:focus-visible) {
  color: #CC9933;
}

.block-link-text:focus-visible {
  outline: 0;
  outline: 1px solid #CC9933;
  color: #CC9933;
}

.block-link-text:active:not(:focus-visible) {
  color: #A47312;
}

.block-link-text:hover:not(:focus-visible) svg path {
  stroke: #F0BF5F;
  transform: translateX(5px);
  transition: transform .2s ease-in-out;
}

.block-link-text:focus-visible svg path {
  stroke: #F0BF5F;
}

.block-link-text:active:not(:focus-visible) svg path {
  stroke: #A47312;
}

/*form*/

.section-form {
  padding: 45px 45px 45px 45px;
  background: #E9E9E9;
  border-radius: 15px;
  margin-bottom: 70px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 28px;
  background: #FFFFFF;
  border-radius: 15px;
}

.departure, .region, .visit, .count, .tourist {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  width: 100%;
  flex: 1;
}

.title-form {
  padding-left: 0;
}

.submit {
  cursor: pointer;
  padding: 13px 30px;
  border: 1px solid var(--color-btn);
  border-radius: 10px;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-btn);
}

.deskr {
  margin-bottom: 15px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.select {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: 0;
  color: #000000;
  border-bottom: 1px solid #E9E9E9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.select::-ms-expand {
  display: none;
}

.select-wrapper {
  position: relative;
  width: 170px;
}

.select-wrapper::before {
  content: "";
  position: absolute;
  top: 70%;
  right: 1px;
  transform: translateY(-50%);
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("../IMG/arrowform1.svg");
  background-repeat: no-repeat;
  pointer-events: none;
}

.date {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: 0;
  border-bottom: 1px solid #E9E9E9;
  cursor: pointer;
}

.select-wrapper-numb {
  position: relative;
  width: 120px;
}

.select-wrapper-numb::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../IMG/arrowform2.svg");
  background-repeat: no-repeat;
  pointer-events: none;
}

.submit:hover:not(:focus-visible) {
  background-color: #CC9933;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.2s linear;
}

.submit:focus {
  background-color: #CC9933;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.2s linear;
  outline: none;
}

.submit:active:not(:focus-visible) {
  background-color: #A47312;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.2s linear;
}

/*contacts*/

.contact {
  display: flex;
  justify-content: space-between;
  padding: 45px;
  background: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 40px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  min-height: 528px;

}

.contact-list-item {
  display: flex;
  margin-bottom: 25px;
  border-bottom: 1px solid #E9E9E9;
}

.item-block {
  display: flex;
  padding-bottom: 23px;
}

.contact-title {
  min-width: 145px;
}

.btn-cont {
  border-bottom: 0;
  margin-bottom: 0;
}

.address-contact {
  margin-bottom: 15px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.tel {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-link);
}

.number:hover:not(:focus-visible) {
  color: #F0BF5F;
}

.number:focus-visible {
  outline: 0;
  outline: 1px solid #F0BF5F;
  color: #F0BF5F;
}

.number:active:not(:focus-visible) {
  color: #A47312;
}

.mail-link {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-link);
}

.mail-link:hover:not(:focus-visible) {
  color: #F0BF5F;
}

.mail-link:focus-visible {
  outline: 0;
  outline: 1px solid #F0BF5F;
  color: #F0BF5F;
}

.mail-link:active:not(:focus-visible) {
  color: #A47312;
}

.mail-descr {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.btn-contact {
  padding: 27px 30px;
  max-width: max-content;
  border: 1px solid var(--color-btn);
  border-radius: 10px;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-btn);
  cursor: pointer;
  margin-top: 0 auto;
}

.btn-contact:hover:not(:focus-visible) {
  background-color: #CC9933;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.2s linear;
}

.btn-contact:focus-visible {
  outline: 0;
  background-color: #CC9933;
  color: #FFFFFF;
}

.btn-contact:active:not(:focus-visible) {
  background-color: #A47312;
  color: #FFFFFF;
}

.image {
  background-image: url("../IMG/contacthotel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 653px;
  height: 528px;
  border-radius: 10px;
  overflow: hidden;
}

/*footer*/

.section-footer {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer-info {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  padding: 45px;
  max-width: 1170px;
  min-height: 341px;
  background-color: #333333;
  border-radius: 15px;
  overflow: hidden;
  background-image: url(../IMG/footersun.svg);
  background-position: right 20% bottom;
  background-repeat: no-repeat;

}

.footer-left {
  display: flex;
  flex-direction: column;
  margin-right: 125px;
}

.footer-cont {
  margin-right: 283px;
}

.footer-list-item {
  display: flex;
  flex-direction: column;
}

.copy, .info {
  margin-bottom: 40px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
}

.text-small {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-link);
}

.text-small:hover:not(:focus-visible) {
  color: #F0BF5F;
}

.text-small:focus-visible {
  outline: 0;
  outline: 1px solid #F0BF5F;
  color: #F0BF5F;
}

.text-small:active:not(:focus-visible) {
  color: #A47312;
}

.address-footer {
  margin-bottom: 15px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  max-width: max-content;
}

.footer-tel {
  margin-bottom: 15px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-link);
  max-width: max-content;
}

.footer-mail {
  max-width: max-content;
}

.social-list {
  display: flex;
  flex-direction: column;
}

.social-link-tripadvisor {
  outline: none;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-bottom: 20px;
}

.social-link-tripadvisor:hover:not(:focus-visible) svg path {
  fill: #F0BF5F;
  transition: transform .2s ease-in-out;
}
.social-link-tripadvisor:focus-visible svg path {
  fill: #F0BF5F;
  transition: transform .2s ease-in-out;
}

.social-link-tripadvisor:active:not(:focus-visible) svg path {
  fill: #A47312;
  transition: transform .2s ease-in-out;
}

.social-link-ok {
  outline: none;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-bottom: 20px;
}

.social-link-ok:hover:not(:focus-visible) svg path {
  fill: #F0BF5F;
  transition: transform .2s ease-in-out;
}
.social-link-ok:focus-visible svg path {
  fill: #F0BF5F;
  transition: transform .2s ease-in-out;
}

.social-link-ok:active:not(:focus-visible) svg path {
  fill: #A47312;
  transition: transform .2s ease-in-out;
}

.social-link-vk {
  outline: none;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.social-link-vk:hover:not(:focus-visible) svg path {
  fill: #F0BF5F;
  transition: transform .2s ease-in-out;
}
.social-link-vk:focus-visible svg path {
  fill: #F0BF5F;
  transition: transform .2s ease-in-out;
}

.social-link-vk:active:not(:focus-visible) svg path {
  fill: #A47312;
  transition: transform .2s ease-in-out;
}
